body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(247, 247, 218);
    margin: 0;
    padding: 0;
}

h2 {
    color:#0b2c7e;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}

form {
    width: 400px;
    background-color:rgb(248, 235, 220);
    padding: 25px 40px;
    border-radius: 15px;
    margin: 30px auto;
}

table {
    width: 100%;
}

td {
    padding: 8px 0;
    font-size: 15px;
    color: #333333;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus,
select:focus {
    border-color: #0096c7;
}

h3 {
    color:rgb(22, 22, 132);
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color:rgb(32, 32, 141);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 15px;
}

