* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
 
body {
    background-color: #ffffff;
    color: #333;
}

/* Header Start*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
 
.logo {
    display: flex;
    align-items: center;
}
 
.logo img {
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
}
 
.logo span {
    font-size: 24px;
    font-weight: bold;
}
 
.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
/* Header End*/

/* Banner start */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px;
}
 
.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
 
.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}
.banner-btn {
    background-color: #4dabf7;
    color: #fff;
    padding: 12px 30px;
    font-size: 1rem;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 8px;
    transition: all 0.3s ease;
}
 
.banner-btn:hover {
    background-color: #1e88e5;
}
/* Banner End */

/* Search start */
.search-section {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
 
.search-container {
    display: flex;
    width: 60%;
    border: 2px solid black;
    border-radius: 5px;
}
 
.search-bar {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}
