* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
 
body {
    background-color: #ffffff;
    color: #333;
}

/* Header Start*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
 
.logo {
    display: flex;
    align-items: center;
}
 
.logo img {
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
}
 
.logo span {
    font-size: 24px;
    font-weight: bold;
}
 
.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
/* Header End*/